<div class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Главная
    </NavLink>

    <NavLink class="nav-link" href="children">
        <span class="oi oi-people" aria-hidden="true"></span> Дети
    </NavLink>

    <NavLink class="nav-link" href="courses">
        <span class="oi oi-list" aria-hidden="true"></span> Курсы
    </NavLink>

    <NavLink class="nav-link" href="enrollment">
        <span class="oi oi-plus" aria-hidden="true"></span> Запись на курс
    </NavLink>
</div>